.childContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}

.content {
    padding: 13px;
    border-radius: 5px;
    border: 1px solid black;
}

.child {
    flex-grow: 1;
    margin: 4px;
}

.addLink{
    position: fixed;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.formBackground {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(00,00,00,0.45);
    display: flex;
    align-items: center;
    justify-content: center;
}

.formBackground .formContainer {
    border-radius: 4px;
    background-color: white;
}

.update-form {
    padding: 15px;
    width: 300px;
}

.update-form .button-container {
    text-align: center;
}

.update-form .button-container button {
    margin-left: 4px;
    margin-right: 4px;
}

.optional-color-picker label {
    margin-bottom: 0;
}

.optional-color-picker .checkbox-container {
    width: 100%;
    height: 2em;
    margin: 0 0 5px;
    display: flex;
    align-items: center;
}

.optional-color-picker .checkbox-container input[type=checkbox] {
    vertical-align: sub;
    margin-right: 5px;
}

.optional-color-picker .color-picker-container {
    position: relative;
}

.optional-color-picker .color-picker-container .picker-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.drop-node {
    position: relative;
    width: 0;
}

.drop-node .inner-node {
    position: absolute;
    margin-left: -25px;
    margin-top: 4px;
    z-index: 1;
    opacity: 0.8;
    width: 50px;
    height: 48px;
    background-color: #fff29f;
    border: 3px dotted #ffdb31;
    border-radius: 5px;
}